[core]
  editor = vim
  eol = lf
[color]
  ui = true
[diff]
  tool = vimdiff
[push]
  default = current
[user]
  name = Nhan Doan
  email =
  signingkey =
[alias]
  alias = config --global --get-regexp ^alias\\.
  bd = bundle
  br = branch -v
  bra = branch -av
  brd = branch -D
  brm = branch -m
  brr = branch -rv
  cl = clean
  cm = commit
  cma = commit --amend
  cman = commit --amend --no-edit
  cmas = commit -S --amend
  cmans = commit -S --amend --no-edit
  cmm = commit -m
  cmms = commit -S -m
  cms = commit -S
  count = rev-list --count --all
  co = checkout
  cob = checkout -b
  coo = checkout --
  df = diff
  dfc = diff --cached
  dft = difftool
  dfto = difftool --tool=opendiff
  ft = fetch
  lg = log -n 20 --graph --oneline --decorate=full
  pl = pull
  ps = push
  pol = pull origin
  polr = pull origin --rebase
  pos = push origin
  rbs = rebase
  rem = reset HEAD --
  remote = remote -v
  rev = reset HEAD^
  sh = show
  slog = shortlog -sn --all
  sloge = shortlog -sne --all
  ss = stash
  ssa = stash apply
  ssd = stash drop
  ssl = stash list
  ssu = stash -u
  ssp = stash pop
  sss = stash save
  st = status
